h1
  a(href=post.url) #{post.title}
div.header
  span.pull-right
    - each tag in post.tags
      a(href=tagUrl(tag))
        span.label.label-info #{tag}
      &nbsp;
  span.pull-left
    span.date #{post.date.getMonth()+1}.#{post.date.getDate()}.#{post.date.getFullYear()} &nbsp;
    a.author(href=config.authors[post.author].url, target='_blank') By #{post.author}
  div.clear-fix &nbsp;
